# Server
PORT={port_number}
NODE_ENV=development

# PostgreSQL
DB_HOST={database_host} 
DB_PORT={database_port}
DB_NAME={database_name}
DB_USER={database_user}
DB_PASSWORD={database_password}

# JWT
JWT_SECRET={jwt_secret}
JWT_EXPIRES_IN=8hcd
JWT_REFRESH_SECRET={jwt_refresh_secret}
JWT_REFRESH_EXPIRES_IN=7d

# Bcrypt
BCRYPT_ROUNDS=12

#  Admin seed (used by npm run seed)
#Remove seed admin after seeding
SEED_ADMIN_NAME=Admin
SEED_ADMIN_EMAIL=admin@dejavu.com   
SEED_ADMIN_PASSWORD=StrongPassword@2020
SEED_ADMIN_PHONE=0799999999